/* Footer */
footer {
  background: #f1f1f1;
}
footer .footer-list {
  display: inline-block;
}
footer .footer-list li {
  list-style-type: none;
}
footer .footer-list li a {
  display: block;
  color: #000;
  padding: 20px 0;
  text-decoration: none;
}
