@import '../bootstrap/less/bootstrap.less';

/* Nav */

.nav-menu {
  background-color: #333333;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  background: gray;
}

/* Banner */

.banner-wrap {
  background: #c4d700;
  padding: 20px 0;
    h1 {
      color: #fff;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 20px;
    }
}

/* Footer */
footer {
  background: #f1f1f1;
}

footer .footer-list {
  display: inline-block;
}

footer .footer-list li {
  list-style-type: none;
}

footer .footer-list li a {
  display: block;
  color: #000;
  padding: 20px 0;
  text-decoration: none;
}
