<section class="banner-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="banner">
                <h1>Banner Header</h1>
                <h4>Banner Subheader</h4>
            </div>
        </div>
    </div>
</section>
