<div class="row text-center">
  <div class="columns small-12">
    <a target="_blank" class="modal-link" href="images/placeholder.png" data-id="1" data-header="header" data-footer="footer">
      <img src="images/placeholder.png" />
    </a>
  </div>
  <div class="columns small-12">
    <a target="_blank" class="mag-trig" data-id="1" href="images/IMGYOUWANT">
      <i class="fa fa-search" aria-hidden="true"></i>
    </a>
  </div>
</div>

<!-- Generic Modal -->

<div class="modal-external-body">
  <p>External modal body</p>
</div>

<p class="modal-external">Open generic modal</p>

<!-- Modal -->
<div id="modal-box" class="modal">
  <div class="modal-content">
    <span class="close">x</span>
    <div class="modal-header">
    </div>
    <div class="modal-main">
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
